
<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Add Category</h3>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formAddEdit">
					<div class="form-group">
						<label for="title">Category Id :</label><br> <input
							class="form-control" type="text" readOnly
							placeholder="generated id" id="id">
					</div>
					<div class="form-group">
						<label for="title">Name :</label><br> <input
							class="form-control" type="text"
							placeholder="name" id="name">
					</div>
					<div class="form-group">
						<label for="name">Description :</label><br> <input
							class="form-control" type="text" 
							placeholder="description" id="description">
					</div>
								
				</form>
				<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button"  onclick="saveAction();" 
							class="btn btn-primary">Save</button>
						
					</div>
			</div>

		</div>
	</div>
</div>
<!-- /.modal -->

